@{
    ViewBag.Title = "Thomas Mills";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2604 Arbor Park Drive<br />
    Newark, OH 43055<br />
    <abbr title="740-877-5820">P:</abbr>
    740.877.5820
</address>

<address>
    <strong>Email:</strong>   <a href="https://outlook.live.com/owa/">tm863215@ohio.edu</a><br />
    
</address>