@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">Thomas Mills</p>
    <p><a href="https://ohio.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>
            I grew up in the small town of Granville Ohio. It is home to Dennison Univeristy and a suburb of Columbus.
        </p>
        <p><a class="btn btn-default" href="http://www.visitgranvilleohio.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>College Life</h2>
        <p>I spend most of my free time working out and hanging with friends. I play a lot of intramural sports to stay competitive and meet new people. I work hard to balance school and my social life.</p>
        @Html.ActionLink("Students", "Index", "Students") <br />
        @Html.ActionLink("Registrations", "Index", "Registrations")<br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
    </div>
    <div class="col-md-4">
        <h2>Post Graduation</h2>
        <p>I am a double major focusing on MIS and Finance. I picked up my second major a little late, so I will be staying at Ohio University for an extra semester. I'm hoping my internship this summer will send me a full time offer upon graduation.</p>
        
    </div>
</div>